body{
    margin: 0 auto;
    padding: 0;
    
}
header{
    width: 100%;
}
#s1{
    margin-left: 5%;
    display: inline;
}
#s1 h2{
    display: inline;
    font-size: 2.5vw;
    font-family: calibri;
    margin-left: 5%;
}
b{
    color: rgb(240, 43, 76);
}
#s2{
    margin-left: 10%;
}
#s2 a{
    font-family: calibri;
    font-weight: bold;
    color: black;
    text-decoration: none;
    font-size: 1.5vw;
    padding-left: 3%;
    color: black;
}
#s2 a:hover{
    color: rgb(240, 43, 76);
    font-size: 1.8vw;
    padding-left: 2.5%;

}
#s3{
    margin-left: 1%;
}
span>img{
    width: 1.5vw;
    padding-left: 1.7%;
    
}
#OR{
    margin-left: 3%;
}
main{
    margin: 0 auto; 
    width: 90%;
    padding: 2%;
}
section{
    font-family: calibri;
    float: left;
    font-family: calibri;
    padding: 0;
    display: inline;
    width: 45%;
    height: 60%;
}
#sec1{
    height: 47.2vw;
    background-color: rgb(240, 43, 76);
    font-size: 4vw;
    font-stretch: extra-expanded;
    color: white;
}
#sec1>h1,font{
    padding-top: 10%;
    padding-left: 15%;
}
#sec2>img{
    
    width: 45vw;
}
font{
    font-size: 2vw;
}